.Cards {
  display: flex;
  margin-top:-4rem;
  
  

}
.parentContainer{
  width: 50%;
 display:flex;
 justify-content: center;
  gap:0;
  
}

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
  }
}
